# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.egg
venv/
.env

# Django
db.sqlite3
staticfiles/
media/
*.log

# Node
node_modules/
frontend/dist/
frontend/.vite/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
